*{
    font-family: 'Coda Caption', sans-serif;
}

body{
    background-color: rgb(25, 34, 65);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

.titlePage .titlePage__img{
    height: 100%;
}

.titlePage .titlePage__text{
    padding: 1rem;
    color: #fff;
    font-size: 2.3rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 560px;
    background-color: #101831;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.itens{
    display: flex;
    height: 2rem;
    width: calc(100% - 60px);
    padding: 0.4rem;
    justify-content: space-between;
}


.score{
    display: flex;
    align-items: flex-end;
    width: 30%;
}

.score .score__icon{
    height: 86%;
}

.score .score__text{
    color: #fff;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 1.5rem;
}



.controls{
    display: flex;
    align-items: flex-end;
}

.controls .controls__button{
    background: transparent;
    border: navajowhite;
    color: #fff;
}